<template>
    <div class="container">
		<div class="topnav">
		  <a class="active" href="#home">Home</a>
		  <a href="#about">About</a>
		  <a href="#contact">Contact</a>
		  <input type="text" placeholder="Search.." v-model="keywords">
		</div>    
        <div class="row justify-content-center">
            <div class="card mb-2 col-md-4"  style="margin:20px 5px;" v-for="product in products">
			  <img src="https://www.w3schools.com/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
			  <h1>{{product.name}}</h1>
                <p class="price">{{product.price}} L.E</p>
			  	<p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>	                
			  	<p><button>Add to Cart</button></p>	                
            </div>
            <div class="emptySearchResult hidden"></div>
        </div>
    </div>
</template>

<script>
    export default {
    	data(){
    		return {
            	keywords: null,    			
    			products:[],
    			product:{
    				id:'',
    				name: '',
    				body:''
    			},
    			product_id:'',
    			pagination:{}
    		}
    	},
	    watch: {
	        keywords(after, before) {
	            this.searchProducts();
	        }
	    },    	
    	created(){
    		this.fetchProducts();
    	},
    	methods:{
    		fetchProducts(){
    			fetch('/products')
    			.then(res => res.json())
    			.then(res => {
    					this.products = res.data;
    				}
    			)
    		},
    		searchProducts(){
    			axios.get('/searchProducts', { params: { keywords: this.keywords } })
    			.then(response => {
				this.products =[];
				if(response.data.data === null){
					$('.emptySearchResult').removeClass('hidden');
				}else{
    				this.products = response.data.data	
				}
    			})
    			.catch(error => {});    			
    		}	
    	}
    }
</script>